[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/DentaCH/link to Desktop]
row=9
col=0

[/home/DentaCH/Templates]
row=1
col=1

[/home/DentaCH/Download]
row=6
col=1

[/home/DentaCH/WackyWebM]
row=3
col=0

[/home/DentaCH/Desktop]
row=5
col=0

[/home/DentaCH/bot]
row=4
col=0

[/home/DentaCH/Desktops]
row=8
col=0

[/home/DentaCH/Documents]
row=5
col=1

[/home/DentaCH/Music]
row=3
col=1

[/home/DentaCH/dxtstd-bot-v2]
row=7
col=0

[/home/DentaCH/Videos]
row=0
col=1

[/home/DentaCH/Pictures]
row=4
col=1

[/home/DentaCH/Desktol]
row=6
col=0

[/home/DentaCH/Tela-icon-theme]
row=2
col=1

[/home/DentaCH/link 2 to Desktop]
row=10
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/DentaCH]
row=2
col=0

